# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Stalfos
email: me@andy-bell.co.uk
description: > # this means to ignore newlines until "baseurl:"
  Stalfos is an open-source, skeletal front-end development starter kit. It provides a solid starting-point and framework for working with HTML, CSS and JavaScript
stalfos_version: 1.1.0
asset_version: 1.3.1
svg_path: /images/icons/svg-symbols.svg
github_url: https://github.com/hankchizljaw/stalfos

# Build settings
markdown: kramdown

kramdown:
  toc_levels: 1..3
  syntax_highlighter: rouge

# Ignore directories
exclude: ['front-end']

# Compress settings
compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  startings: [head, body]
