$black: #000000;
$white: #f9f9f9;

$eggshell: #fcfaf6;

$grey--eggshell: #f7f7f7;
$grey--light: #e5e5e5;
$grey: #aaaaaa;

$slate: #3a444e;
$slate--mid: #222222;

$turqoise--light: #cdd4de;
$turqoise: #61758f;
$turqoise--mid: #53647b;

$red: #cc6666;

// Syntax colours 
$syntax-pewter: #b5ccc8;
$syntax-mint: #bee7b8;
$syntax-blue: #81a2be;