.primary-nav {

	@include mode("global") {

		display: block;
		width: 100%;
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;

		@include media-query("lap-and-up") {
			text-align: right;
		}

		&__item {
			@extend %capitalize;

			color: $white;
			text-decoration: none;

			@include hover() {
				color: $turqoise--light;
			}

			&.is-active {
				color: $turqoise--light;
				font-weight: bold;
			}

			// Add space to siblings
			& + & {
				margin-left: $gutter--mini;
			}
		}
	}

}