<header class="site-head" role="banner">
	<div class="site-head__inner wrapper">
		
		{% if page.hidden_title %}
			<h1 class="is-hidden--text">{{ page.hidden_title }}</h1>
		{% endif %}

		<a class="site-head__brand" href="/" {% if page.url == '/' %} aria-label="current page"{% endif %}>
			<span class="site-head__brand__icon" aria-hidden="true">
				{% include /partials/logo.html %}
			</span>
			<div class="site-head__brand__text">
				Stalfos <small><abbr title="version">v</abbr>{{ site.stalfos_version }}</small>
			</div>
		</a>
		<div class="site-head__nav">
			{% include /partials/primary-nav.html %}
		</div>
		<a class="is-hidden--text" href="#content">Click here to skip to the main content</a>
	</div>
</header>