<header class="site-head" role="banner">
	<div class="site-head__inner wrapper">
		
		{% if page.hidden_title %}
			<h1 class="is-hidden--text">{{ page.hidden_title }}</h1>
		{% endif %}
		<a class="is-hidden--text" href="#main-content">Jump to the main content</a>

		<a class="site-head__brand" href="/" {% if page.url == '/' %} aria-label="current page"{% endif %}>
			<span class="site-head__brand__icon" aria-hidden="true">
				{% include /partials/logo.html %}
			</span>
			<span class="site-head__brand__text">
				Stalfos <small><abbr title="version">v</abbr>{{ site.stalfos_version }}</small>
			</span>
		</a>
		<div class="site-head__nav">
			{% include /partials/primary-nav.html %}
		</div>
		<a class="hamburger" href="#markdown-toc" data-menu-id="table-of-contents-menu" data-module="hamburger">
			<span class="is-hidden--text">Jump to the table of contents</span>
			<span class="hamburger__bar" aria-hidden="true" role="presentation"></span>
		</a>
	</div>
</header>