.highlight {

	@include mode("global") {

		// Target everything in a code child element. 
		// This will prevent leakages for inline <code> tags with the highlight class.
		code {

			// CSS related
			.language-scss & {

				.c1,
				.cm {
					color: $grey;
				}

				.s1,
				.s2 {
					color: $syntax-mint;
				}

				.nv,
				.nc,
				.p + .o + .o,
				.k,
				.k + .nt,
				.nc + .p + .k,
				.k + .nd,
				.nl {
					color: $syntax-pewter; 
				}

				.k {
					color: $grey--light;
				}

				.nd,
				.nd + p {
					color: $syntax-blue;
				}

				.n,
				.nb,
				.p + .m,
				.bp,
				.o + .m,
				.m + .mi,
				.no {
					color: $syntax-mint;
				}

				// Override back to base colour
				.s1 + .o {
					color: $eggshell;
				}
			}

			// HTML Related 
			.language-html & {

				.nt,
				.na {
					color: $syntax-pewter;
				}

				.s {
					color: $syntax-mint;
				}

				.c {
					color: $eggshell;
				}
			}

			// JSON
			.language-json & {

				.nt,
				.s2,
				.kc {
					color: $syntax-mint;
				}

				.err {
					color: $eggshell;
				}
			}

			// JS
			.language-javascript & {

				.nx,
				.p + .na {
					color: $syntax-pewter;
				}

				.nx + .p,
				.kd + .p,
				.k + .p {
					color: $syntax-blue;
				}

				.kd,
				.k,
				.nb, 
				.s1,
				.s2,
				.kc,
				.mi {
					color: $syntax-mint;
				}

				.c1,
				.cm {
					color: $grey--light;
				}
			}

		}
	}
}