.list-view-menu {

	@include mode("global") {

		// Add negative margin because the first item has no border
		margin-top: -$gutter--mini;

		&__list {
			padding: 0 0 0 $gutter;
		}

		&__item {
			border-top: 1px solid $grey;

			a {
				padding: $gutter--mini;
				display: block;
				text-decoration: none;

				@include hover() {
					text-decoration: underline;
				}
			}

			// Recolour nested items
			.list-view-menu__list {

				a {
					color: $slate;
				}
			}
		}

		// Remove the border from the first item
		& > .list-view-menu__item {

			&:first-of-type {
				border-top: none;
			}
		}
	}
}