.wysiwyg-content {

	@include mode("global") {

		margin: 0 auto;
		padding: $gutter;
		color: $slate--mid;
		line-height: $body-copy-line-height-ratio;

		*:not(li):not([class]) + *:not(li):not([class]) {
			margin-top: $content-flow-space;
		}

		// Heading content flow
		*:not(h2):not([class]) + h2 {
			padding-top: $gutter;
		}

		h3:not([class]) {
			color: $turqoise--mid;
		}

		p {         
			white-space: pre-line;

			img {
				margin: 20px 0; 
			}
		}

		strong, b {
			font-weight: 700;
		}

		ul, ol {
			margin-left: $gutter--double;
		}

		ul {
			list-style: disc;
		}

		ol {
			list-style: decimal;
		}

		li + li {
			margin-top: $gutter--mini;
		}

		code {
			background: $grey--eggshell;
			padding: 2px 4px;
			border: 1px solid $grey;
			color: $turqoise--mid;
			border-radius: $radius;
			position: relative;
			top: -1px;
		}

		pre {

			code {
				display: inline-block;
				padding: $gutter $gutter--double;
				width: 100%;
				tab-size: 4;
				color: $eggshell;
				background: $slate;

				@include bounce-scroll("horizontal");

				@include media-query("desk") {
					@include font-size(18px, true, false, $body-copy-line-height-ratio);
				}
			}
		}

		p code,
		li code {
			white-space: nowrap;
		}

	}
}