.your-element {
    display: flex;

    // If html has class no-flexbox, fall back to table layout
    @include feauture-fail("flexbox") {
    	
        display: table;

        > * {
        	display: table-cell;
        }
    }
}